* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
/* ========================== */
.container {
  margin: 20px auto;
  width: 1000px;
}
.row {
  display: flex;
}
hr {
  border: 1px solid #eee;
}
.game-info {
  display: flex;
}
.game-info .game-name {
  flex: 1;
}
.game-info .category {
  flex: 1;
  text-align: right;
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}
.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
}
.hangman-draw .the-stand::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
}
.hangman-draw .the-hang::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 15px;
}
.hangman-draw .the-hang::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #222;
  left: 130px;
  top: 15px;
}
.hangman-draw .the-rope {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 45px;
  border: 4px dashed #222;
}
.hangman-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  left: 105px;
  top: 55px;
}
.hangman-draw .the-man .body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 102px;
  left: 130px;
}
.hangman-draw .the-man .hands::before {
  left: 85px;
  transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after {
  left: 130px;
  transform: rotate(-30deg);
}
.hangman-draw .the-man .hands::before,
.hangman-draw .the-man .hands::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  top: 140px;
  background-color: #222;
}
.hangman-draw .the-man .legs::before {
  left: 85px;
  transform: rotate(-30deg);
}
.hangman-draw .the-man .legs::after {
  left: 130px;
  transform: rotate(30deg);
}
.hangman-draw .the-man .legs::before,
.hangman-draw .the-man .legs::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  top: 220px;
  background-color: #222;
}
.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}
.letters .letter-box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.letters-guess {
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}
.letters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  align-items: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  border-bottom: 3px solid #222;
  transition: 0.3s;
}
.letters-guess span.with-space {
  background: none;
  border-bottom: none;
  position: relative;
}
.letters-guess span.with-space::before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
