* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial;
}

.container {
  margin: 20px auto;
  width: 1000px;
}

.row {
  display: flex;
}

hr {
  border: 1px solid #eee;
}

.game-info {
  display: flex;
}

.game-info .game-name {
  flex: 1;
}

.game-info .category {
  flex: 1;
  text-align: right;
}

.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
